src/main/resources/wsdl/wsSystemConfigurator.wsdl

<wsdl:definitions name="SystemConfigurator" targetNamespace="http://cloudinterface.agentcloud.openmos.eu/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cloudinterface.agentcloud.openmos.eu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://cloudinterface.agentcloud.openmos.eu/" version="1.0" xmlns:tns="http://cloudinterface.agentcloud.openmos.eu/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="acceptNewOrderInstance" type="tns:acceptNewOrderInstance" />
<xs:element name="acceptNewOrderInstanceResponse" type="tns:acceptNewOrderInstanceResponse" />
<xs:element name="createNewRecipe" type="tns:createNewRecipe" />
<xs:element name="createNewRecipeResponse" type="tns:createNewRecipeResponse" />
<xs:element name="createNewResourceAgent" type="tns:createNewResourceAgent" />
<xs:element name="createNewResourceAgentResponse" type="tns:createNewResourceAgentResponse" />
<xs:element name="createNewSkill" type="tns:createNewSkill" />
<xs:element name="createNewSkillResponse" type="tns:createNewSkillResponse" />
<xs:element name="createNewTransportAgent" type="tns:createNewTransportAgent" />
<xs:element name="createNewTransportAgentResponse" type="tns:createNewTransportAgentResponse" />
<xs:element name="finishedProduct" type="tns:finishedProduct" />
<xs:element name="finishedProductResponse" type="tns:finishedProductResponse" />
<xs:element name="getExecutionTableById" type="tns:getExecutionTableById" />
<xs:element name="getExecutionTableByIdResponse" type="tns:getExecutionTableByIdResponse" />
<xs:element name="getExecutionTableBySubSystemId" type="tns:getExecutionTableBySubSystemId" />
<xs:element name="getExecutionTableBySubSystemIdResponse" type="tns:getExecutionTableBySubSystemIdResponse" />
<xs:element name="getExecutionTables" type="tns:getExecutionTables" />
<xs:element name="getExecutionTablesResponse" type="tns:getExecutionTablesResponse" />
<xs:element name="getRecipes" type="tns:getRecipes" />
<xs:element name="getRecipesBySubSystemId" type="tns:getRecipesBySubSystemId" />
<xs:element name="getRecipesBySubSystemIdResponse" type="tns:getRecipesBySubSystemIdResponse" />
<xs:element name="getRecipesResponse" type="tns:getRecipesResponse" />
<xs:element name="getSubSystems" type="tns:getSubSystems" />
<xs:element name="getSubSystemsResponse" type="tns:getSubSystemsResponse" />
<xs:element name="initializePlatform" type="tns:initializePlatform" />
<xs:element name="initializePlatformResponse" type="tns:initializePlatformResponse" />
<xs:element name="newProductDefinition" type="tns:newProductDefinition" />
<xs:element name="newProductDefinitionResponse" type="tns:newProductDefinitionResponse" />
<xs:element name="orderInstanceRemoval" type="tns:orderInstanceRemoval" />
<xs:element name="orderInstanceRemovalResponse" type="tns:orderInstanceRemovalResponse" />
<xs:element name="orderInstanceUpdate" type="tns:orderInstanceUpdate" />
<xs:element name="orderInstanceUpdateResponse" type="tns:orderInstanceUpdateResponse" />
<xs:element name="putRecipes" type="tns:putRecipes" />
<xs:element name="putRecipesResponse" type="tns:putRecipesResponse" />
<xs:element name="removeAgent" type="tns:removeAgent" />
<xs:element name="removeAgentResponse" type="tns:removeAgentResponse" />
<xs:element name="startedProduct" type="tns:startedProduct" />
<xs:element name="startedProductResponse" type="tns:startedProductResponse" />
<xs:element name="updateExecutionTable" type="tns:updateExecutionTable" />
<xs:element name="updateExecutionTableResponse" type="tns:updateExecutionTableResponse" />
<xs:complexType name="createNewRecipe">
<xs:sequence>
<xs:element minOccurs="0" name="recipe" type="tns:recipe" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="recipe">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="equipmentIds" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="executedBySkillControlPort" type="tns:controlPort" />
<xs:element minOccurs="0" name="invokeMethodID" type="xs:string" />
<xs:element minOccurs="0" name="invokeObjectID" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="kpiSettings" nillable="true" type="tns:kpiSetting" />
<xs:element minOccurs="0" name="lastOptimizationTime" type="xs:dateTime" />
<xs:element minOccurs="0" name="msbProtocolEndpoint" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element name="optimized" type="xs:boolean" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="parameterSettings" nillable="true" type="tns:parameterSetting" />
<xs:element minOccurs="0" name="skill" type="tns:skill" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="skillRequirements" nillable="true" type="tns:skillRequirement" />
<xs:element minOccurs="0" name="state" type="xs:string" />
<xs:element minOccurs="0" name="statePath" type="xs:string" />
<xs:element minOccurs="0" name="uniqueAgentName" type="xs:string" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
<xs:element name="valid" type="xs:boolean" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="base">
<xs:sequence>
<xs:element minOccurs="0" name="registered" type="xs:dateTime" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="controlPort">
<xs:complexContent>
<xs:extension base="tns:port">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="port">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="direction" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="type" type="xs:string" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="kpiSetting">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="kpi" type="tns:kpi" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="path" type="xs:string" />
<xs:element minOccurs="0" name="type" type="xs:string" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
<xs:element minOccurs="0" name="unit" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="kpi">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="defaultLowerBound" type="xs:string" />
<xs:element minOccurs="0" name="defaultUpperBound" type="xs:string" />
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="type" type="xs:string" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
<xs:element minOccurs="0" name="unit" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
<xs:element minOccurs="0" name="valueType" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="parameterSetting">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="parameter" type="tns:parameter" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="parameter">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="defaultValue" type="xs:string" />
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="lowerBound" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="type" type="xs:string" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
<xs:element minOccurs="0" name="unit" type="xs:string" />
<xs:element minOccurs="0" name="upperBound" type="xs:string" />
<xs:element minOccurs="0" name="valueType" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="skill">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element name="classificationType" type="xs:int" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="controlPorts" nillable="true" type="tns:controlPort" />
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="informationPorts" nillable="true" type="tns:informationPort" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="kpis" nillable="true" type="tns:kpi" />
<xs:element minOccurs="0" name="label" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="parameterPorts" nillable="true" type="tns:parameterPort" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="tns:parameter" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="recipeIds" nillable="true" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="skillRequirements" nillable="true" type="tns:skillRequirement" />
<xs:element minOccurs="0" name="skillType" type="tns:skillType" />
<xs:element minOccurs="0" name="subSystemId" type="xs:string" />
<xs:element minOccurs="0" name="type" type="xs:string" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="informationPort">
<xs:complexContent>
<xs:extension base="tns:port">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="kpis" nillable="true" type="tns:kpi" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="parameterPort">
<xs:complexContent>
<xs:extension base="tns:port">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="tns:parameter" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="skillRequirement">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="precedents" nillable="true" type="tns:skillReqPrecedent" />
<xs:element minOccurs="0" name="requiresPart" type="tns:part" />
<xs:element minOccurs="0" name="skillType" type="tns:skillType" />
<xs:element minOccurs="0" name="type" type="xs:string" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="skillReqPrecedent">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="part">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="skillType">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element name="decision" type="xs:boolean" />
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="createNewRecipeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="serviceCallStatus">
<xs:sequence>
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element minOccurs="0" name="code" type="xs:string" />
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="operationName" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="orderInstanceRemoval">
<xs:sequence>
<xs:element minOccurs="0" name="orderId" type="xs:string" />
<xs:element minOccurs="0" name="operationTimestamp" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="orderInstanceRemovalResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getExecutionTableBySubSystemId">
<xs:sequence>
<xs:element minOccurs="0" name="subSystemId" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getExecutionTableBySubSystemIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="executionTable" type="tns:executionTable" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="executionTable">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="rows" nillable="true" type="tns:executionTableRow" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="executionTableRow">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="nextRecipeId" type="xs:string" />
<xs:element minOccurs="0" name="nextRecipeIdPath" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="possibleRecipeChoices" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="productId" type="xs:string" />
<xs:element minOccurs="0" name="recipeId" type="xs:string" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="finishedProduct">
<xs:sequence>
<xs:element minOccurs="0" name="finishedProductInfo" type="tns:finishedProductInfo" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="finishedProductInfo">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="finishedTime" type="xs:dateTime" />
<xs:element minOccurs="0" name="productInstanceId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="finishedProductResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="acceptNewOrderInstance">
<xs:sequence>
<xs:element minOccurs="0" name="newOrder" type="tns:orderInstance" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="orderInstance">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element name="priority" type="xs:int" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="productInstances" nillable="true" type="tns:productInstance" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="productInstance">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element name="finished" type="xs:boolean" />
<xs:element minOccurs="0" name="finishedTime" type="xs:dateTime" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="orderId" type="xs:string" />
<xs:element minOccurs="0" name="productId" type="xs:string" />
<xs:element minOccurs="0" name="startedProductionTime" type="xs:dateTime" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="acceptNewOrderInstanceResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="initializePlatform">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="cyberPhysicalAgentDescriptions" type="tns:subSystem" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="orders" type="tns:orderInstance" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="subSystem">
<xs:complexContent>
<xs:extension base="tns:equipment">
<xs:sequence>
<xs:element minOccurs="0" name="executionTable" type="tns:executionTable" />
<xs:element minOccurs="0" name="logicalLocation" type="tns:logicalLocation" />
<xs:element minOccurs="0" name="physicalLocation" type="tns:physicalLocation" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="recipes" nillable="true" type="tns:recipe" />
<xs:element minOccurs="0" name="state" type="xs:string" />
<xs:element minOccurs="0" name="statePath" type="xs:string" />
<xs:element minOccurs="0" name="type" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="equipment">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="address" type="xs:string" />
<xs:element name="connected" type="xs:boolean" />
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="manufacturer" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="physicalPorts" nillable="true" type="tns:physicalPort" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="skills" nillable="true" type="tns:skill" />
<xs:element minOccurs="0" name="status" type="xs:string" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="logicalLocation">
<xs:complexContent>
<xs:extension base="tns:location">
<xs:sequence>
<xs:element minOccurs="0" name="location" type="xs:string" />
<xs:element minOccurs="0" name="productInstanceId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="location">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="physicalLocation">
<xs:complexContent>
<xs:extension base="tns:location">
<xs:sequence>
<xs:element name="alpha" type="xs:long" />
<xs:element name="beta" type="xs:long" />
<xs:element name="gamma" type="xs:long" />
<xs:element minOccurs="0" name="productInstanceId" type="xs:string" />
<xs:element minOccurs="0" name="referenceFrameName" type="xs:string" />
<xs:element name="x" type="xs:long" />
<xs:element name="y" type="xs:long" />
<xs:element name="z" type="xs:long" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="physicalPort">
<xs:complexContent>
<xs:extension base="tns:port">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="initializePlatformResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="startedProduct">
<xs:sequence>
<xs:element minOccurs="0" name="productInstance" type="tns:productInstance" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="startedProductResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createNewSkill">
<xs:sequence>
<xs:element minOccurs="0" name="skill" type="tns:skill" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createNewSkillResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getExecutionTableById">
<xs:sequence>
<xs:element minOccurs="0" name="executionTableId" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getExecutionTableByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="executionTable" type="tns:executionTable" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="orderInstanceUpdate">
<xs:sequence>
<xs:element minOccurs="0" name="order" type="tns:orderInstance" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="orderInstanceUpdateResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="putRecipes">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="recipes" type="tns:recipe" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="putRecipesResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSubSystems">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getSubSystemsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="subSystems" type="tns:subSystem" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createNewResourceAgent">
<xs:sequence>
<xs:element minOccurs="0" name="cyberPhysicalAgentDescription" type="tns:subSystem" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createNewResourceAgentResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRecipes">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getRecipesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="recipes" type="tns:recipe" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRecipesBySubSystemId">
<xs:sequence>
<xs:element minOccurs="0" name="subSystemId" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRecipesBySubSystemIdResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="recipes" type="tns:recipe" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getExecutionTables">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getExecutionTablesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="executionTables" type="tns:executionTable" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateExecutionTable">
<xs:sequence>
<xs:element minOccurs="0" name="agentUniqueName" type="xs:string" />
<xs:element minOccurs="0" name="executionTable" type="tns:executionTable" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateExecutionTableResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="newProductDefinition">
<xs:sequence>
<xs:element minOccurs="0" name="productDefinition" type="tns:product" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="product">
<xs:complexContent>
<xs:extension base="tns:base">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="parts" nillable="true" type="tns:part" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="skillRequirements" nillable="true" type="tns:skillRequirement" />
<xs:element minOccurs="0" name="uniqueId" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="newProductDefinitionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createNewTransportAgent">
<xs:sequence>
<xs:element minOccurs="0" name="cyberPhysicalAgentDescription" type="tns:subSystem" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createNewTransportAgentResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeAgent">
<xs:sequence>
<xs:element minOccurs="0" name="agentUniqueName" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeAgentResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceCallStatus" type="tns:serviceCallStatus" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getRecipesBySubSystemIdResponse">
    <wsdl:part element="tns:getRecipesBySubSystemIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acceptNewOrderInstanceResponse">
    <wsdl:part element="tns:acceptNewOrderInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createNewTransportAgentResponse">
    <wsdl:part element="tns:createNewTransportAgentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderInstanceRemovalResponse">
    <wsdl:part element="tns:orderInstanceRemovalResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="putRecipesResponse">
    <wsdl:part element="tns:putRecipesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finishedProduct">
    <wsdl:part element="tns:finishedProduct" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startedProduct">
    <wsdl:part element="tns:startedProduct" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createNewSkill">
    <wsdl:part element="tns:createNewSkill" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExecutionTablesResponse">
    <wsdl:part element="tns:getExecutionTablesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExecutionTableById">
    <wsdl:part element="tns:getExecutionTableById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderInstanceUpdate">
    <wsdl:part element="tns:orderInstanceUpdate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubSystems">
    <wsdl:part element="tns:getSubSystems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newProductDefinition">
    <wsdl:part element="tns:newProductDefinition" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderInstanceUpdateResponse">
    <wsdl:part element="tns:orderInstanceUpdateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newProductDefinitionResponse">
    <wsdl:part element="tns:newProductDefinitionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createNewRecipe">
    <wsdl:part element="tns:createNewRecipe" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initializePlatformResponse">
    <wsdl:part element="tns:initializePlatformResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExecutionTableBySubSystemIdResponse">
    <wsdl:part element="tns:getExecutionTableBySubSystemIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createNewResourceAgentResponse">
    <wsdl:part element="tns:createNewResourceAgentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderInstanceRemoval">
    <wsdl:part element="tns:orderInstanceRemoval" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateExecutionTableResponse">
    <wsdl:part element="tns:updateExecutionTableResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExecutionTableBySubSystemId">
    <wsdl:part element="tns:getExecutionTableBySubSystemId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acceptNewOrderInstance">
    <wsdl:part element="tns:acceptNewOrderInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecipesResponse">
    <wsdl:part element="tns:getRecipesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initializePlatform">
    <wsdl:part element="tns:initializePlatform" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubSystemsResponse">
    <wsdl:part element="tns:getSubSystemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createNewSkillResponse">
    <wsdl:part element="tns:createNewSkillResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="putRecipes">
    <wsdl:part element="tns:putRecipes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startedProductResponse">
    <wsdl:part element="tns:startedProductResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createNewResourceAgent">
    <wsdl:part element="tns:createNewResourceAgent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecipes">
    <wsdl:part element="tns:getRecipes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecipesBySubSystemId">
    <wsdl:part element="tns:getRecipesBySubSystemId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExecutionTableByIdResponse">
    <wsdl:part element="tns:getExecutionTableByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExecutionTables">
    <wsdl:part element="tns:getExecutionTables" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateExecutionTable">
    <wsdl:part element="tns:updateExecutionTable" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeAgentResponse">
    <wsdl:part element="tns:removeAgentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finishedProductResponse">
    <wsdl:part element="tns:finishedProductResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createNewTransportAgent">
    <wsdl:part element="tns:createNewTransportAgent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createNewRecipeResponse">
    <wsdl:part element="tns:createNewRecipeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeAgent">
    <wsdl:part element="tns:removeAgent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SystemConfigurator">
    <wsdl:operation name="createNewRecipe">
      <wsdl:input message="tns:createNewRecipe" name="createNewRecipe">
    </wsdl:input>
      <wsdl:output message="tns:createNewRecipeResponse" name="createNewRecipeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderInstanceRemoval">
      <wsdl:input message="tns:orderInstanceRemoval" name="orderInstanceRemoval">
    </wsdl:input>
      <wsdl:output message="tns:orderInstanceRemovalResponse" name="orderInstanceRemovalResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExecutionTableBySubSystemId">
      <wsdl:input message="tns:getExecutionTableBySubSystemId" name="getExecutionTableBySubSystemId">
    </wsdl:input>
      <wsdl:output message="tns:getExecutionTableBySubSystemIdResponse" name="getExecutionTableBySubSystemIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finishedProduct">
      <wsdl:input message="tns:finishedProduct" name="finishedProduct">
    </wsdl:input>
      <wsdl:output message="tns:finishedProductResponse" name="finishedProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acceptNewOrderInstance">
      <wsdl:input message="tns:acceptNewOrderInstance" name="acceptNewOrderInstance">
    </wsdl:input>
      <wsdl:output message="tns:acceptNewOrderInstanceResponse" name="acceptNewOrderInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initializePlatform">
      <wsdl:input message="tns:initializePlatform" name="initializePlatform">
    </wsdl:input>
      <wsdl:output message="tns:initializePlatformResponse" name="initializePlatformResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startedProduct">
      <wsdl:input message="tns:startedProduct" name="startedProduct">
    </wsdl:input>
      <wsdl:output message="tns:startedProductResponse" name="startedProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewSkill">
      <wsdl:input message="tns:createNewSkill" name="createNewSkill">
    </wsdl:input>
      <wsdl:output message="tns:createNewSkillResponse" name="createNewSkillResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExecutionTableById">
      <wsdl:input message="tns:getExecutionTableById" name="getExecutionTableById">
    </wsdl:input>
      <wsdl:output message="tns:getExecutionTableByIdResponse" name="getExecutionTableByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderInstanceUpdate">
      <wsdl:input message="tns:orderInstanceUpdate" name="orderInstanceUpdate">
    </wsdl:input>
      <wsdl:output message="tns:orderInstanceUpdateResponse" name="orderInstanceUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="putRecipes">
      <wsdl:input message="tns:putRecipes" name="putRecipes">
    </wsdl:input>
      <wsdl:output message="tns:putRecipesResponse" name="putRecipesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubSystems">
      <wsdl:input message="tns:getSubSystems" name="getSubSystems">
    </wsdl:input>
      <wsdl:output message="tns:getSubSystemsResponse" name="getSubSystemsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewResourceAgent">
      <wsdl:input message="tns:createNewResourceAgent" name="createNewResourceAgent">
    </wsdl:input>
      <wsdl:output message="tns:createNewResourceAgentResponse" name="createNewResourceAgentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecipes">
      <wsdl:input message="tns:getRecipes" name="getRecipes">
    </wsdl:input>
      <wsdl:output message="tns:getRecipesResponse" name="getRecipesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecipesBySubSystemId">
      <wsdl:input message="tns:getRecipesBySubSystemId" name="getRecipesBySubSystemId">
    </wsdl:input>
      <wsdl:output message="tns:getRecipesBySubSystemIdResponse" name="getRecipesBySubSystemIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExecutionTables">
      <wsdl:input message="tns:getExecutionTables" name="getExecutionTables">
    </wsdl:input>
      <wsdl:output message="tns:getExecutionTablesResponse" name="getExecutionTablesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateExecutionTable">
      <wsdl:input message="tns:updateExecutionTable" name="updateExecutionTable">
    </wsdl:input>
      <wsdl:output message="tns:updateExecutionTableResponse" name="updateExecutionTableResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newProductDefinition">
      <wsdl:input message="tns:newProductDefinition" name="newProductDefinition">
    </wsdl:input>
      <wsdl:output message="tns:newProductDefinitionResponse" name="newProductDefinitionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewTransportAgent">
      <wsdl:input message="tns:createNewTransportAgent" name="createNewTransportAgent">
    </wsdl:input>
      <wsdl:output message="tns:createNewTransportAgentResponse" name="createNewTransportAgentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeAgent">
      <wsdl:input message="tns:removeAgent" name="removeAgent">
    </wsdl:input>
      <wsdl:output message="tns:removeAgentResponse" name="removeAgentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SystemConfiguratorSoapBinding" type="tns:SystemConfigurator">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createNewRecipe">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createNewRecipe">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createNewRecipeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderInstanceRemoval">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="orderInstanceRemoval">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="orderInstanceRemovalResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExecutionTableBySubSystemId">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getExecutionTableBySubSystemId">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getExecutionTableBySubSystemIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finishedProduct">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="finishedProduct">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="finishedProductResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acceptNewOrderInstance">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="acceptNewOrderInstance">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="acceptNewOrderInstanceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initializePlatform">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="initializePlatform">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="initializePlatformResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startedProduct">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="startedProduct">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="startedProductResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewSkill">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createNewSkill">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createNewSkillResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExecutionTableById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getExecutionTableById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getExecutionTableByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderInstanceUpdate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="orderInstanceUpdate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="orderInstanceUpdateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="putRecipes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="putRecipes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="putRecipesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubSystems">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSubSystems">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSubSystemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewResourceAgent">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createNewResourceAgent">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createNewResourceAgentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecipes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRecipes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRecipesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecipesBySubSystemId">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRecipesBySubSystemId">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRecipesBySubSystemIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExecutionTables">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getExecutionTables">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getExecutionTablesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateExecutionTable">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateExecutionTable">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateExecutionTableResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newProductDefinition">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="newProductDefinition">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="newProductDefinitionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewTransportAgent">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createNewTransportAgent">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createNewTransportAgentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeAgent">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeAgent">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeAgentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemConfigurator">
    <wsdl:port binding="tns:SystemConfiguratorSoapBinding" name="SystemConfiguratorImplPort">
      <soap:address location="http://0.0.0.0:9999/wsSystemConfigurator" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>